name: Build Android APK
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install flet

      - name: Build APK
        run: |
          flet build apk --project "SmartCalc" --org "com.smartcalc" --product "SmartCalc" --module-name main --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: smartcalc-apk
          path: build/apk/*.apk
